<div id="footer">
  <a href="https://codeberg.org/reverseeagle" target="_blank">Codeberg</a>
  <a href="https://github.com/reverseeagle" target="_blank" rel="noopener"
    >GitHub</a
  >
  <a href="https://dev.lemmy.ml/c/reverseeagle" target="_blank" rel="noopener"
    >Lemmy</a
  >
  <a href="https://reverseeagle.org/matrix/rules/" target="_blank" rel="noopener">[matrix]</a>
</div>
