<header>
    <nav class="header-nav">
        <a href="/" class="header-brand">{{ brand.username }}</a>
        <ul class="header-list">
            {% for link in header.items %}
                <li>
                    <a href="{{ link.url }}">{{ link.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</header>