<ul id="header_list">
  {% for item in header.items %}
    <li class="header_list-item">
      {% if page.url == item.link %}
        <a href="{{ item.link }}" class="active-link">{{ item.name }}</a>
      {% else %}
        <a href="{{ item.link }}">{{ item.name }}</a>
      {% endif %}
    </li>
  {% endfor %}
</ul>
