---
templateEngineOverride: liquid
author: resynth1943
---

<!DOCTYPE html>
<!-- Because who doesn't use English? :^) -->
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- We need to keep this puppy responsive! -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or brand.name }}</title>

    <!-- What would the internet be without STYLING?! -->
    <link rel="stylesheet" href="/styling/root.css">
    <link rel="stylesheet" href="/styling/main.css">
    <link rel="stylesheet" href="/styling/footer.css">
    <link rel="stylesheet" href="/styling/home.css">
    <link rel="stylesheet" href="/styling/header.css">
    <link rel="stylesheet" href="/assets/fonts/manrope/manrope-v1-latin-regular.css">

    <!-- Normal `meta` stuff: -->
    <meta name="description" content="{{ description or brand.description }}">
    <meta name="robots" content="index,follow">
    <meta name="author" content="ReverseEagle">

    <!-- Don't want spiders to get a wrong impression. -->
    <link rel="canonical" href="{{ page.url }}">

    <!-- OpenGraph: https://ogp.me -->
    <meta property="og:title" content="{{ title or brand.name }}">
    <meta property="og:url" content="{{ page.url }}">
    <meta property="og:description" content="{{ description or brand.description }}">

    <!-- Twitter metadata, because why not...? -->
    <meta name="twitter:url" content="{{ page.url }}">
    <meta name="twitter:title" content="{{ title or brand.name }}">
    <meta name="twitter:description" content="{{ description or brand.description }}">
</head>
<body>
    {% include header.html %}
    <main class="container {{ include.mainClass }}">
        {{ content }}
    </main>
    {% include footer.html %}

    <!-- Goatcounter tracking code; see the analytics for this page: https://reverseeagle.goatcounter.com/ -->
    {% if env == 'production' %}
        <script data-goatcounter="https://reverseeagle.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    {% else %}
        <!-- WHERE MAH GOAT AT -->
    {% endif %}
</body>
</html> <!-- ;¬) Stay synthin' -->