---
templateEngineOverride: liquid
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{ title or brand.name }}</title>
    <meta name="description" content="{{ description or title }}" />

    <link rel="stylesheet" href="/styling/root.css">
    <link rel="stylesheet" href="/styling/footer.css">
    <link rel="stylesheet" href="/styling/header.css">
    <link rel="stylesheet" href="/styling/headings.css">
  </head>
  <body>
    <div id="header">
      {% include header/header.html %}
    </div>
    <div id="content">
      <div id="main">
        {{ content }}
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
