.header_list-item {
    display: inline-block;
}

.header_list-item:not(:last-child) {
    margin-right: 20px;
}

.active-link {
    font-weight: bold;
}

.header-brand {
    float: left;
    padding: 10px;
    display: inline-block;
    background: #363b4a80;
    text-align: center;
    border-radius: 5px;
}

.header-list {
    margin: 0;
    text-align: right;
}

header {
    background-color: var(--button-background);
    /* max-width: 900px; */
    padding: 10px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    max-width: 900px;
    margin-bottom: 20px;
  }

  .header-list > li {
      display: inline-block;
      color: var(--highlight);
      padding: 10px;
      border-radius: 5px;
  }
  
  .header-list > li > a {
      padding: 10px;
      border-radius: 5px;
  }

  .header-list > li > a:hover {
    transition: 0.3s;
    background-color: var(--button-background-hover);
  }
  
  #header a {
    color: var(--header-link-color);
  }
  