body {
  font-family: sans-serif;
  text-align: left;
  /* padding: 50px 20px; */
  background: var(--background);
  color: rgb(226, 226, 226);
  /* height: 90%; */
}

.container {
  max-width: 900px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 10;
  margin: auto;
  padding-bottom: 20px;
}

.container a {
  color: #37a4a1;
}

html {
  height: 100%;
}

h1 {
  border-bottom: 5px solid var(--highlight);
  padding: 5px;
  margin: 0.5ex 1em 0.5ex 0;
  max-width: max-content;
  font-size: 1.4em;
}

h1, h2, h3, h4, h5, h6 {
}

h3 {
  font-weight: 300;
}

a:visited {
  /* color: #7024a2; */
}

hr:not(.no-bottom-margin) {
  margin-bottom: 30px;
  margin-top: 30px;
}

.take-away {
  background: #7BDFF2;
  padding: 15px;
  color: black;
}

/* aldrich-regular - latin */
@font-face {
  font-family: 'Aldrich';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/aldrich-v10/aldrich-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Aldrich Regular'), local('Aldrich-Regular'),
       url('/assets/fonts/aldrich-v10/aldrich-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/aldrich-v10/aldrich-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/aldrich-v10/aldrich-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/aldrich-v10/aldrich-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/aldrich-v10/aldrich-v10-latin-regular.svg#Aldrich') format('svg'); /* Legacy iOS */
}

.container > pre, .container > p > code {
  color: #00b591;
}

.container > pre {
  margin-left: 20px;
}
